{% extends "base.html" %}

<!--Page content -->
{% block content %}
<h1>Assessments</h1>

<div>
  <h2>Assessment 1</h2>
  <h3>Assessment Title</h3>
  <p>Assessment Description</p>
  <img src="pasta.jpg" alt="placeholder image" />
</div>

<div>
  <h2>Assessment 2</h2>
  <h3>Assessment Title</h3>
  <p>Assessment Description</p>
  <img src="pasta.jpg" alt="placeholder image" />
</div>

<div>
  <h2>Assessment 3</h2>
  <h3>Assessment Title</h3>
  <p>Assessment Description</p>
  <img src="pasta.jpg" alt="placeholder image" />
</div>

{% endblock %}
