{% extends "base.html" %}

<!--Page content -->
{% block content %}
<div class="grey_box">
  <h2>Assessment</h2>
  <p>{{ assessment.question }}</p>
</div>

<form action="" method="post" class="grey_box">
  {{ answer_form.hidden_tag() }}
  <p style="color: black">
    {{ answer_form.answer.label }}<br />
    {{ answer_form.answer(size=32) }}<br />
  </p>
  <p>{{ answer_form.submit() }}</p>
</form>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %} {{ message }} {% endfor %} {% endif %} {% endwith %} {% endblock %}
