{% extends "base.html" %}

<!--Page content -->
{% block content %}
<h1>Assessments</h1>

<div>
  <h3>Kinematics</h3>
  <p>In this module you will be tested on the sub-field of physics that describes the motion of points and bodies.
  <p>We won't be considering the forces that cause them to move, as this is covered in the next module.</p> 
  <a class="btn btn-primary" href="{{ url_for('assessment') }}">Assessment 1</a>
</div>

<div>
  <h3>Forces</h3>
  <p>In this module you will be tested on forces and expanding on kinematics.</p>
  <a class="btn btn-primary" href="#">Assessment 2</a>
</div>
{% endblock %}
