<!DOCTYPE html>
<!--A base html page that holds content common to all pages, (headers and foots)-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Physics Tutor</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />
    {% block head %} {% endblock %}
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a
            class="navbar-brand"
            href="{{ url_for('index') }}"
            >
            <img src="https://webstockreview.net/images/clipart-apple.jpg" alt="Apple Logo" width="40" height="40">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('content') }}">Content</a>
              </li>

              {% if current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

        <!--content-->
        <div id="content">{% block content %}{% endblock %}</div>
      </div>
      <!--Footer-->
      <footer
        class="text-center text-lg-start navbar-fixed-bottom d-flex flex-column"
        style="padding-bottom: 0%"
        id="footer"
      >
        <a class="text-dark" href="{{ url_for('index') }}">Physics Tutor</a>
        <!-- Copyright -->
      </footer>
    </div>
  </body>
</html>
