{% extends "base.html" %}

<!--Page content -->
{% block content %}
<h2 class="mb-3">Change your Profile's Description</h2>

<div class="grey_box">
    <h3>Old Description</h3>
    <p>{{old_description}}</p>
</div>

<div class="grey_box">
    <h3>New Description</h3>
    <form action="" method="post">
        {{ description_form.hidden_tag() }}
        <p style="color: black;">
            {{ description_form.description.label }}<br />
            {{ description_form.description(size=32) }}<br />
        </p>
        <p>{{ description_form.submit() }}</p>
    </form>
</div>
{% endblock%}