{% extends "base.html" %}
<!--Block Head-->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='LoginRegisterPage.css') }}"
/>
<script>
  function openTab(evt, TabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(TabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% endblock %}
<!--Block Content-->
{% block content %}

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Login')" id="defaultOpen">
    Login
  </button>
  <button class="tablinks" onclick="openTab(event, 'Register')">
    Register
  </button>
</div>

<!-- Tab content -->
<div id="Login" class="tabcontent">
  <h3>Login</h3>
  <form>
    <label for="username">username:</label><br />
    <input type="text" id="username" name="username" /><br />
    <label for="Password">Password:</label><br />
    <input type="text" id="Password" name="Password" />
    <br />
    <input type="submit" />
    <input type="reset" />
  </form>
</div>

<div id="Register" class="tabcontent">
  <h3>Register</h3>
  <form>
    <label for="username">username:</label><br />
    <input type="text" id="username" name="username" /><br />
    <label for="Password">Password:</label><br />
    <input type="text" id="Password" name="Password" /><br />
    <label for="Confirm Password">Confirm Password:</label><br />
    <input type="text" id="Confirm Password" name="Confirm Password" />
    <br />
    <input type="submit" />
    <input type="reset" />
  </form>
</div>

<script>
  openTab(event, "Login");
</script>
{% endblock %}
