{% extends "base.html" %}
<!--Block Head-->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='LoginRegisterPage.css') }}"
/>
<script>
  function openTab(evt, TabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(TabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% endblock %}
<!--Block Content-->
{% block content %}

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Login')" id="defaultOpen">
    Login
  </button>
  <button class="tablinks" onclick="openTab(event, 'Register')">
    Register
  </button>
</div>

<!-- Tab content -->
<div id="Login" class="tabcontent">
  <h3>Login</h3>
  <form action="/login" method="post">
    {{ login_form.hidden_tag() }}
    <p>
      {{ login_form.username.label }}<br />
      {{ login_form.username(size=32) }}
    </p>
    <p>
      {{ login_form.password.label }}<br />
      {{ login_form.password(size=32) }}
    </p>
    <p>{{ login_form.remember_me() }} {{ login_form.remember_me.label }}</p>
    <p>{{ login_form.submit() }}</p>
    <input type="reset" value="Refresh" />
  </form>
</div>

<div id="Register" class="tabcontent">
  <h3>Register</h3>
  <form action="/register" method="post">
    {{ register_form.hidden_tag() }}
    <p>
      {{ register_form.username.label }}<br>
      {{ register_form.username(size=32) }}<br>
      <!-- Display any errors -->
      {% for error in register_form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ register_form.password.label }}<br>
      {{ register_form.password(size=32) }}<br>
      <!-- Display any errors -->
      {% for error in register_form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ register_form.confirm_password.label }}<br>
      {{ register_form.confirm_password(size=32) }}<br>
      <!-- Display any errors -->
      {% for error in register_form.confirm_password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ register_form.is_admin() }} {{ register_form.is_admin.label }}</p>
    <p>{{ register_form.submit() }}</p>
    <input type="reset" value="Refresh" />
  </form>
</div>

<script>
  openTab(event, "Login");
</script>
{% endblock %}
