{% extends "base.html" %}

<!-- Page Content -->
{% block content %}
<h1 style = "text-align:center">Assessment List</h1>
<ul>
    {% for assessment in assessments %}
    <div class="grey_box">
    <h2>Assessment {{ assessment.id }}</h2>
    <li> Question : {{ assessment.question }}</li>
    <li> Answer : {{ assessment.answer }}</li>

    <form method="post" action="{{ url_for('deleteAssessment', id=assessment.id) }}">
        <input type="submit" class="btn btn-danger" value="Delete Assessment" >
    </form>

    </div>
    {% endfor %}
</ul>
{% endblock %}