{% extends "base.html" %}

<!--Page content -->
{% block content %}

    <!--User Card -->
    <div class="card float-left" style="width: 18rem">
      <p>placeholder image</p>
      <div class="card-body">
        <h5 class="card-title">{{current_user.username}}</h5>
        <p class="card-text">
          <ul>
              <li>{{current_user.signup_date}}</li>
              <li>Completed Assessments </li>
          </ul>
        </p>
      </div>
    </div>
    <!--Assessment Analytics -->
    <div>
        <h2>Assessment 1 Analytics</h2>
        <p>placeholder text</p>
    </div>

{% endblock%}