{% extends "base.html" %}

<!--Page content -->
{% block content %}
<div class="card float-left" style="width: 18rem">
  <p>placeholder image</p>
  <div class="card-body">
    <h5 class="card-title">{{ current_user.username }}'s Stats</h5>
    <p class="card-text">
      Signed Up on {{ current_user.signup_date.strftime('%x') }}
    </p>
    <h4>Description</h4>
    <p class="card-text">{{ current_user.description }}</p>
  </div>
</div>

<!--Assessment Analytics -->
<div>
  <h2>Assessments Completed</h2>
  <p>{{num_assessments_completed}}</p>
</div>

<div>
  <h2>Assessments Correct</h2>
  <p>{{num_assessments_correct}}</p>
</div>

<div>
  <h2>Percentage Correct</h2>
  <p>{{ percent_correct }}</p>
</div>
{% endblock%}
