{% extends "base.html" %}

<!--Page head -->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='TeachingPage.css') }}"
/>
<script>
  /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
  }

  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
  }
</script>
{% endblock %} {% block content %}
<div id="SidebarButton">
  <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
</div>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Lesson 1</a>
  <a href="#">Lesson 2</a>
  <a href="#">Lesson 3</a>
  <a href="#">Lesson 4</a>
</div>
<!--Page content -->

<div>
  <h2>Content Title</h2>
  <p>content</p>
</div>
<div>
  <h2>Content Title</h2>
  <p>content</p>
</div>
<div>
  <h2>Content Title</h2>
  <p>content</p>
</div>
{% endblock %}
